{% extends 'SyliusResourceBundle::layout.html.twig' %}

{% block sylius_content %}
<div class="page-header">
    <h1>{{ 'sylius.process.step.welcome.header'|trans|raw }}</h1>
</div>

{{ 'sylius.process.step.welcome.content'|trans|raw }}

<div class="form-actions">
<<<<<<< HEAD
    <a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'sylius_installer', 'stepName': 'welcome'}) }}" class="btn btn-lg btn-primary">
=======
    <a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'sylius_installer', 'stepName': 'welcome'}) }}" class="btn btn-large btn-primary">
>>>>>>> 2a50dfc58650724c3cd7c772d2f88accef2f3f5d
        {{ 'sylius.process.step.check.button.install'|trans }} <i class="icon-chevron-right"></i>
    </a>
</div>
{% endblock %}
