{% form_theme form 'SyliusWebBundle:Backend:filterForms.html.twig' %}

<form method="get" action="{{ path('sylius_backend_product_index') }}" class="form-inline form-filter">
{{ form_row(form.name) }}
{{ form_row(form.sku) }}
<<<<<<< HEAD
<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> {{ 'sylius.filter'|trans }}</button>
=======
<button type="submit" class="btn btn-primary"><i class="icon-search"></i> {{ 'sylius.filter'|trans }}</button>
>>>>>>> 2a50dfc58650724c3cd7c772d2f88accef2f3f5d
</form>
